* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --week-w: clamp(8px, 2vw, 14px);
  --week-h: clamp(8px, 2vw, 14px);
  --week-p: 2px;
  --weeks-row-length: 24;
}

body {
  padding: 12px;
}
main {
  max-width: 400px;
  margin: 0 auto;
}

form {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
label {
  display: grid;
  grid-template-columns: 90px 1fr;
  align-items: center;
  gap: 4px;
}
input {
  width: 100%;
  border: 1px solid;
  padding: 4px 8px;
  outline: none;
}
.error {
  color: red;
  grid-column-start: 2;
  display: none;
}
.error.show {
  display: block;
}
button {
  padding: 8px 4px;
  margin: 8px 0;
}

.total {
  font-size: 20px;
}

.container {
  border: solid 1px;
  padding: 12px;

  display: grid;
  grid-template-columns: repeat(
    var(--weeks-row-length),
    calc(var(--week-w) + (var(--week-p) * 2))
  );
  /* gap: calc(var(--week-w) / 2.5); */
  justify-items: center;
  justify-content: space-between;
}
.container:empty {
  border: none;
}

.week-wrapper {
  padding: var(--week-p);
  width: calc(var(--week-w) + (var(--week-p) * 2));
  height: calc(var(--week-h) + (var(--week-p) * 2));
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.week-wrapper .weeks-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  color: gray;
  font-size: 14px;
}
.week {
  flex-shrink: 0;
  border: 0.1px solid lightgray;
  width: var(--week-w);
  height: var(--week-h);
  font-size: 10px;
}
.week.past {
  background: lightgray;
}
